# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
CS4347_Project/

# Database
*.db
*.sqlite3

# Django
*.log
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db